<footer class="footer">
	<div class="container">
		footer
	</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="<%= assetFingerprint('/js/scripts.min.js') %>"></script>
</body>
</html>
